.container {
	margin: 0 auto;
	padding: 0px;
}
.main-content {
	display: flex;
	gap: 20px;
	justify-content: center;
	height: 250px;
	align-items: center;
	text-align: center;
	flex-direction: column;
	padding: 20px 0px;
	margin: 0px 0px;
	background-color: #fcbfb7;
}
